doctype html
html
    head
        title Zero Tung's Blog
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        script(src="/jquery/dist/jquery.min.js")
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
        style.
            #banner img {
                width: 100%;
            }
            #footer {
                text-align: center;
            }
            #wrap {
                width:1080px;
                margin: 0 auto;
            }
    body
        nav.navbar.navbar-default(role="navigation", style="margin-bottom: 0")
            ul.nav.navbar-nav
                li.active
                    a(href="##") 首页
                li
                    a(href="##") 个人介绍
                li
                    a(href="##") 我的推送
                li
                    a(href="##") 成果展示
                li
                    a(href="##") 留言板
        div#banner
            img(src="images/top-pic.jpg")
        
        div#wrap
            article
                h2 我的推送
                table.table.table-bordered.table-striped
                    thead
                        tr
                            th 标题
                            th 时间
                    tbody
                        tr
                            th
                                a(href="http://mp.weixin.qq.com/s?__biz=MzI0ODU5NjI3Nw==&mid=2247483789&idx=1&sn=a2f13b9ba586cbb88412859362c698d7&chksm=e99f13d7dee89ac1caa285482828ecff6447bb82483621913f1b7535196ebab9a32cb862ad85#rd") &lt;&#47;2016&gt;&lt;2017&gt;
                            th 2017-01-01
                        tr
                            th
                                a(href="http://mp.weixin.qq.com/s?__biz=MzI0ODU5NjI3Nw==&mid=2247483762&idx=1&sn=e66618c3df1190bf14549e289af95057&chksm=e99f1328dee89a3e3153a8f70739fb57c833f4eb9b3c53a2d581ac597ff56aaf3a5ba84618cf#rd") 今天，我们谈谈【版权】
                            th 2016-11-22
                        tr
                            th
                                a(href="http://mp.weixin.qq.com/s?__biz=MzI0ODU5NjI3Nw==&mid=2247483755&idx=1&sn=81edf05deee2f149fd262350fe964f20&chksm=e99f1331dee89a27f0b077dc8e1b9a0e868489206e57ced45358b4094b52e712e95919e55646#rd") Bootstrap学习笔记（二）
                            th 2016-11-10
                        tr
                            th
                                a(href="http://mp.weixin.qq.com/s?__biz=MzI0ODU5NjI3Nw==&mid=2247483726&idx=1&sn=ccaa9aa1c7ffec9dfbdf97b05c8689f1&chksm=e99f1314dee89a02150f1d839b2f87e7015af0d62d2e9ffa5eebf47403089e7ac56196790fe8#rd") JavaScript——回调函数
                            th 2016-10-29
                        tr
                            th
                                a(href="http://mp.weixin.qq.com/s?__biz=MzI0ODU5NjI3Nw==&mid=2247483701&idx=1&sn=854ec41c37fa145a721c839ad80c391c&chksm=e99f136fdee89a7930b0d893f584ecb94dae4e76b67482e646fcf58bb9d5500e6ebd40e2c2cb#rd") Bootstrap学习笔记（一）
                            th 2016-10-20
                        tr
                            th
                                a(href="http://mp.weixin.qq.com/s?__biz=MzI0ODU5NjI3Nw==&mid=2247483680&idx=1&sn=e4e570f365f2e5c71d075e6017fa4a46&chksm=e99f137adee89a6c1b95b62df8d5044e5a1cb1645485f7cb76cb6d142fba490dc33d60c9ba65#rd") 在canvas中绘制虚线
                            th 2016-10-01
                        tr
                            th
                                a(href="http://mp.weixin.qq.com/s?__biz=MzI0ODU5NjI3Nw==&mid=2247483661&idx=1&sn=07308f22eb0064ce939e808c93d99bd6&chksm=e99f1357dee89a410ea212fad131d3301aec95be1fbac4c33b1e0ca3118a60d5fe764ae64580#rd") JS中浮点数运算误差分析
                            th 2016-09-27

            div#footer Designed by Zero Tung 粤ICP备16103476号-1