doctype html
html
  head
    title 排班
    link(rel='stylesheet', href='/stylesheets/styles.min.css')
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(src="/javascripts/scripts.min.js")
  body
    div.container
        //- p #{date}
        div.header
            h1 寒假值班排班系统
        div.form-group
            input(type="text", class='form-control input-lg', id="name", placeholder="请输入您的姓名")
        div.form-group
            input(type="text", class='form-control input-lg', id="tel", placeholder="请输入您的电话")
        div.form-group
            select#date.form-control.input-lg(name="date")
                option(value=-1) 请选择值班日期
                -for (var i = 0; i < date.length; i++)
                    option(value="#{date[i].id}") #{date[i].date}
        button(id="submit", class='btn-lg btn-block btn-primary') 提交
    script.
        $("#submit").click(function() {
            $.ajax({
                url: '/work/paiban',
                type: 'POST',
                data: {
                    name: $("#name").val(),
                    tel: $("#tel").val(),
                    date: $("#date").val(),
                },
                success: function(data) {

                    if(data.status == 1) {
                        var string = "你的名字：" + data.info.name + "\n你的电话是：" + data.info.tel + "\n你选了" + data.info.date;
                        alert(string);
                        window.location.href = "/work/paiban/result";
                    } else {
                        alert(data.info);
                    }
                }
            });
        })